name: Deploy to Azure Web App

env:
  AZURE_WEBAPP_NAME: dhaappacicd  
  AZURE_WEBAPP_PACKAGE_PATH: '.'      
  PYTHON_VERSION: '3.10'      
  STAGING_SLOT_NAME: 'staging'       

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v3
        with:
          name: python-app
          path: .

  deploy:
    permissions:
      contents: none
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v3
        with:
          name: python-app

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          slot-name: ${{ env.STAGING_SLOT_NAME }}
          publish-profile: ${{ secrets.dhaappacicd_secret_staging }}
          package: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}
